@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cyan: hsl(180, 66%, 49%);
    --dark-violet: hsl(257, 27%, 26%);
    --red: hsl(0, 87%, 67%);
    --gray: hsl(0, 0%, 75%);
    --grayish-violet: hsl(257, 7%, 63%);
    --very-dark-blue: hsl(255, 11%, 22%); 
    --very-dark-violet: hsl(260, 8%, 14%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    font-family: "Poppins", serif;
}

.container-mobile {
    text-align: center;
    position: relative;
}

p, li {
    color: var(--grayish-violet);
    line-height: 1.5em;
    margin: 1.5rem 0;
}

h1, h2, h3 {
    color: var(--very-dark-violet);
    font-weight: 700;
}

.nav-btn {
    display: none;
}


/* intro section */
.intro-section {
    margin: 2rem 0;
}

hr {
    display: none;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 1.5rem;
}

.icon-button {
    cursor: pointer;
}

.icon-button.active .menu {
    display: none;
}

.icon-button.active .close {
    display: flex;
}

.header .menu svg  {
    width: 30px;
    fill: var(--grayish-violet);
}

.header .close {
    fill: var(--grayish-violet);
    display: none;
}

.illustration {
    margin-top: 1.5rem;
    width: 100%;
    overflow: hidden;
}

.illustration img {
    width: 135%;
    margin-left: 1.5rem;
}

h1 {
    margin: 2rem 0 1rem 0;
    font-size: 40px;
    line-height: 2.8rem;
}

.intro-section .start {
    width: 200px;
    padding: 1rem 0;
    font-family: inherit;
    font-weight: 700;
    font-size: inherit;
    color: white;
    margin: .5rem 0 4rem 0;
    background-color: var(--cyan);
    border: none;
    border-radius: 50px;
}

/* first section */
.first-section {
    width: 100%;
    background-color: hsl(255, 11%, 96%);
    margin-top: 7rem;
    padding-bottom: 1rem;
}

.first-section p {
    font-weight: 500;
    font-size: 16px;
}

.main-section {
    margin: 2rem 1.5rem;
}

.link-container {
    background-color: var(--dark-violet);
    border-radius: 0.7rem;
    padding: 1.5rem;
    margin: 1rem 0 0 0;
    position: relative;
    bottom: 5rem;
}

.link-container .error-msg {
    font-size: 13px;
    font-family: "Poppins", serif;
    margin: 0.3rem 0 0 0;
    display: none;    
    float: left;
}

.link-container p.error {
    display: block;
    color: var(--red);
}

.link-container input, .link-container button {
    width: 100%;
    height: 55px;
    margin: 0;
}

.link-container input {
    padding: 1.2rem 1rem;
    border: none;
    border-radius: .4rem;
    font-family: inherit;
}

.link-container input.error {
    border: 3px solid var(--red);
}

.link-container input.active::placeholder {
    color: var(--red);
}

.link-container input::placeholder {
    color: var(--grayish-violet);
    font-family: "Poppins", serif;
    font-weight: 500;
    font-size: 16px;
}

.link-container input:focus {
    outline: none;
} 

.link-container button {
    border-radius: .4rem;
    margin-top: 1rem;
    color: white;
    background-color: var(--cyan);
    border: none;
    border-radius: .3rem;
    font-weight: 700;
    font-size: 17px;
    font-family: inherit;
}

.link-result {
    background-color: white;
    border-radius: .3rem;
    text-align: left;
    padding-bottom: 1rem;
    margin-bottom: 3rem;
    margin-top: -2rem;
}

.link-result p {
    margin: 0;
    padding: .8rem;
    color: var(--very-dark-violet);
}

.link-result hr {
    color: aliceblue;
    opacity: .3;
}

.link-result .short-url {
    color: var(--cyan);
}

.link-result .button {
    display: flex;
    justify-content: center;
    width: 100%;
}

.link-result .button button {
    width: 100%;
    border-radius: .3rem;
    padding: .4rem 0;
    margin: 0 .8rem;
    font-weight: 700;
    font-size: 17px;
    font-family: inherit;
    color: white;
    border: none;
    background-color: var(--cyan);
}

.main-section {
    position: relative;
}

.main-section h2 {
    margin-top: 4rem;
}

.box {
    background-color: white;
    padding: 1rem 1.5rem;
    border-radius: .5rem;
    margin: 6rem 0;
    position: relative;
}

.box-image {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-violet);
    padding: 1rem;
    position: absolute;
    transform: translateX(-50%);
    top: -40px;
}

.box h3 {
    margin-top: 4rem;
}

.box p {
    margin-top: 1rem;
}

.first-stroke {
    width: 7px;
    height: 60px;
    background-color: var(--cyan);
    position: absolute; 
    top: 49.7%;
    left: 49.5%;
}

.second-stroke {
    width: 7px;
    height: 60px;
    background-color: var(--cyan);
    position: absolute;
    top: 75.7%;
    left: 49.5%;
}

/* submain section */
.submain-section {
    margin-top: -2rem;
    background-color: var(--dark-violet);
    background-image: url('./images/bg-boost-mobile.svg');
    background-repeat: no-repeat;
    padding: 5rem 0;
}

.submain-section h2 {
    color: white;
    margin: 1rem 0;
}

.submain-section button {
    margin: 0;
    width: 200px;
    padding: 1rem 0;
    font-family: inherit;
    font-weight: 700;
    font-size: inherit;
    color: white;
    background-color: var(--cyan);
    border: none;
    border-radius: 50px;
}

/* footer section */
footer {
    padding: 3rem 0 1rem 0;
    background-color: var(--very-dark-blue);
}

footer .footer-logo svg {
    fill: white;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: 2rem 0;
}

.footer-list h4 {
    color: white;
}

.footer-items ul {
    display: flex;
    flex-direction: column;
    gap: .6rem;
    list-style: none;
    margin: 0;
}

.footer-items ul li {
    margin: 0;
    color: var(--gray);
    font-weight: 500;
    font-size: 16px;
}

.socials {
    display: flex;
    gap: 1.3rem;
    margin: 2rem 0;
    color: white;
    justify-content: center;
}


/* overlay */
nav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    top: 0;
    width: 87%;
    height: 381px;
    background-color: var(--dark-violet);
    padding: 2rem 1.5rem;
    margin-top: 3.5rem ;
    font-size: 18px;
    border-radius: .7rem;
    display: none;
}

nav.active {
    display: block;
}

nav ul {
    list-style: none;
}

nav ul li {
    color: white;
    font-weight: 500;
}

nav hr {
    opacity: .3;
}

nav .sign-up {
    width: 100%;
    background-color: var(--cyan);
    padding: .6rem 0;
    border-radius: 50px;
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: white;
    font-weight: 500;
    cursor: pointer;
}

@media (min-width: 768px) {
    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: white;
        padding: 0;
        margin: 0;
        font-size: 12px;
        border-radius: 0;
        position: relative;
        width: fit-content;
        height: fit-content;
    }

    nav ul li {
        color: var(--gray);
    }

    hr {
        display: none;
    }

    nav .menu ul {
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
    }

    .buttons {
        font-size: 12px;
    }

    .buttons li {
        list-style: none;
        font-weight: 500;
    }

    .nav-btn {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1.5rem;
    }

    .sign-up {
        width: fit-content;
        height: fit-content;
        background-color: var(--cyan);
        padding: .5rem 1rem;
        border-radius: 30px;
        border: 0;
        color: white;
        font-family: inherit;
        font-weight: 700;
    }

    .header {
        margin: 1.5rem 4rem;
    }

    .header .icon-button {
        display: none;
    }

    .header .logo_nav {
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    .intro-section {
        margin: 0;
    }

    .intro-content {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        text-align: left;
        margin: 2.5rem 0 2.5rem 4rem;
    }

    h1 {
        margin: 2rem 0 0 0;
        font-size: 40px;
        line-height: 2.9rem;
    }

    p {
        margin: .2rem 0 1rem 0;
        font-size: 15px;
        color: var(--gray);
    }

    .intro-section .start {
        width: fit-content;
        padding: .5rem 1.5rem;
        font-weight: 700;
        font-size: 13px;
        color: white;
        margin: .5rem 0 4rem 0;
    }

    .link-container {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 2.5rem;
        bottom: 4rem;
        margin: 1rem 2.5rem;
        background-image: url(./images/bg-shorten-desktop.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: -150px;
    }

    .link-container input {
        width: 100%;
        height: 45px;
    }

    .link-container input::placeholder {
        font-size: 13px;
    }

    .link-container button {
        margin-top: 0;
        font-size: 13px;
        width: 30%;
        height: 45px;
    }

    .main-section-text {
        width: 380px;
        margin: 0 auto;
    }

    .main-section h2 {
        margin: 0;
    }

    .main-section-text p {
        font-size: 13px;
    }

    .boxes {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 0 3rem 8rem 3rem;
        gap: 1.5rem;
    }

    .box {
        background-color: white;
        padding: 0rem 1rem;
        border-radius: .5rem;
        margin: 4rem 0 0 0;
        width: fit-content;
        height: fit-content;
        position: relative;
        text-align: left;
    }

    .second {
        top: 1.5rem;
    }

    .third {
        top: 3rem;
    }

    .box-image {
        width: fit-content;
        height: fit-content;
        padding: .5rem;
        top: -25px;
        left: 50px;
    }

    .box h3 {
        margin-top: 3rem;
        font-size: 14px;
    }

    .box p {
        margin-top: 1rem;
        font-size: 10px;
        
    }

    .first-stroke {
        width: 22px;
        height: 5px;
        background-color: var(--cyan);
        position: absolute; 
        top: 83%;
        left: 33.5%;
    }

    .second-stroke {
        width: 22px;
        height: 5px;
        background-color: var(--cyan);
        position: absolute; 
        top: 83%;
        left: 63.5%;
    }

    .submain-section {
        background-color: var(--dark-violet);
        background-image: url('./images/bg-boost-desktop.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: -150px;
        padding: 1.5rem 0;
    }

    .submain-section button {
        width: fit-content;
        padding: .8rem 1.8rem;
        font-weight: 700;
        font-size: 13px;
        color: white;
        margin: 0;
    }

    footer {
        display: flex;
        flex-direction: row;
        padding: 4rem;
        text-align: left;
        justify-content: space-between;
    }

    .footer-lists {
        display: flex;
        flex-direction: row;
        gap: 1.3rem;
        margin: 0;
    }

    .footer-list {
        margin: 0;
    }

    .footer-list h4 {
        font-size: 13px;
    }

    .footer-items ul {
        gap: .6rem;
    }

    .footer-items ul li {
        font-size: 11px;
    }

    .socials {
        display: flex;
        margin: 0;
        color: white;
        height: fit-content;
    }
}

@media (min-width: 1024px) {
    h1 {
        margin: 2rem 0 0 0;
        font-size: 50px;
        line-height: 3.5rem;
    }

    .intro-text p {
        width: 410px;
    }

    .intro-text .start {
        padding: .8rem 1.8rem;
    }

    .illustration img {
        width: 115%;
        margin-left: 2rem;
    }

    .box {
        padding: 1rem 1.4rem;
    }

    .box-image {
        width: 80px;
        height: 80px;
        top: -40px;
        left: 60px;
    }

    .box h3 {
        font-size: 17px;
    }

    .box p {
        font-size: 12px;
    }

    .second {
        top: 2rem;
    }

    .third {
        top: 4rem;
    }

    .second-stroke {
        left: 64.3%;
    }

    .link-container {
        background-size: cover;
        background-position: center center;
    }

    .submain-section {
        background-position: center center;
    }

    .footer-lists {
        gap: 4rem;
    }

    .footer-items ul li {
        font-size: 13px;
    }
}

@media (min-width: 1440px) {
    nav ul li, .buttons {
        font-size: 15px;
    }

    .sign-up {
        padding: .8rem 1.4rem;
    }

    .header {
        margin: 1.5rem 10rem 1.5rem 10rem;
    }

    .header .logo_nav {
        gap: 4rem;
    }

    .intro-content {
        margin-left: 10rem;
    }

    h1 {
        font-size: 70px;
        line-height: 4.8rem;
    }

    .intro-text p {
        font-size: 20px;
        width: 500px;
    }

    .intro-text .start {
        padding: 1rem 2.5rem;
        font-size: 15px;
    }

    .illustration img {
        width: 120%;
        margin-left: 4px;
    }

    .link-container {
        margin-left: 8.5rem;
        margin-right: 8.5rem;
        gap: 2rem;
        padding: 3.5rem;
        bottom: 5rem;
    }

    .link-container input, .link-container button {
        height: 65px;
        font-size: 18px;
    }

    .link-container input::placeholder {
        font-size: 18px;
    }

    .main-section-text {
        width: 550px;
    }

    .main-section-text h2 {
        font-size: 40px;
        text-align: center;
    }

    .main-section-text p {
        font-size: 20px;
    }

    .boxes {
        margin-left: 9rem;
        margin-right: 9rem;
        margin-bottom: 10rem;
    }

    .box {
        padding: 1rem 1.6rem;
    }

    .box h3 {
        font-size: 19px;
    }

    .box p {
        font-size: 17px;
    }

    .box-image {
        left: 75px;
    }

    .first-stroke {
        top: 82%;
        left: 35.7%;
    }

    .second-stroke {
        top: 82%;
        left: 62.7%;
    }

    .second {
        top: 1rem;
    }

    .third {
        top: 5rem;
    }

    .submain-section {
        padding: 2rem;
    }

    .submain-section h2 {
        font-size: 40px;
    }

    .submain-section button {
        padding: 1rem 2.5rem;
        font-size: 15px;
    }

    footer {
        padding-left: 10rem;
        padding-right: 10rem;
    }

    .footer-list h4 {
        font-size: 16px;
    }

    .footer-list ul li {
        font-size: 15px;
    }
}


